.user_post{
    background-color: bisque;
    width: 50%;
    height: auto;
    border: 2px red solid;
    margin:30px;
}

.post{
    padding:10px;
    margin: 20px;
}

.title-post{
    background-color: azure;
    
}
.desc-post{
    background-color: aquamarine;
    
    
}
.img-post{
    width: 200px;
    height: 250px;
}


