.user_post{
    background-color: bisque;
    width: 50%;
    height: auto;
    border: 2px red solid;
    margin-left: 25%;
}

.post{
    padding:10px;
    margin: 20px;
}

.title-post{
    background-color: azure;
    
}
.desc-post{
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    
    
}
.img-post{
    width: 200px;
    height: 250px;
    margin-left: 35%;
}

body {
    background: #ffa369;
  } 


